data/*.db
data/*.sqlite3
data/*.sqlite3-journal
data/*.sqlite3-shm
data/*.sqlite3-wal

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

venv/
env/
.venv/

.vscode/
.idea/
*.swp
*.swo

.streamlit/secrets.toml

.DS_Store
Thumbs.db